* {
	font-family: sans-serif;
}

h1 {
	font-size: 42px;
}

p {
	font-size: 21px;
}

.bg-gradient {
	animation: gradient 20s infinite;
}

.fg-white {
	color: #ffffff !important;
}

.center-text {
	text-align: center;
}

canvas {
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
}

pre {
	border: 1px solid black;
	display: inline-block;
	width: 400px;
	height: 500px;
	background-color: #F5F5F5;
}

@keyframes gradient {
	0% {
		background-color: #2BB2F1;
	}

	25% {
		background-color: #2B37F1;
	}

	50% {
		background-color: #AF2BF1;
	}

	75% {
		background-color: #E4ED23;
	}

	100% {
		background-color: #2BB2F1;
	}
}